:root{
    --zblue:#1d3557;
    --zorange:#e63946;
    --zgray:#F1FAEE;
    --blue1: #A8DADC;
    --blue2: #457B9D;
}
body{
    margin:0 auto;
    font-family:'Roboto';
    background-color:var(--zgray);
}
header{
    background-color:#14213d;
    color:var(--zgray);
    display:flex;
    flex-wrap:wrap;
    /* position:fixed;
    width:100%; */
    flex-direction:row;
    justify-content: space-around;
}
header ul{
    display:flex;
    list-style: none;
}
header ul li{
    margin-inline:20px;
    transition:0.2s ease-in;
    vertical-align: center;
}
header ul li a{
    display:flex;
    justify-content: center;
    align-items: center;
}
.header-links{
    text-decoration:none;
    color:var(--zgray);
    vertical-align: center;
    transition: 0.2s ease;
}
.header-links:hover{
    color:var(--zorange);
}

.login-main{
    display:flex;
    justify-content: center;
    align-items:center;
    
}
.login-form{
    background-color:var(--zblue);
    width: 45rem;
    padding:20px 30px;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content:center;
    color:white;
    margin-top:10vh;
    
}
.login-form form{
    width:70%;
}

.log-input{
    margin:10px 0px;
    width:100%;
    font-size:medium;
}
.log-submit{
    background-color:var(--zorange);
    padding:8px 10px;
    border-radius:5px;
    border:none;
   
    font-size:medium;
    width:103%;
    text-align:center;
    
}
.hero{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items: center;
    background-color:var(--zgray);
    padding-top:6vh;
    padding-inline: 20vh;
    padding-bottom:5vh;
}
.herobtn{
    background-color:var(--zorange);
    font-size :1rem;
    border:none;
    padding:10px 20px;
    border-radius:10px;
    transition:0.2s ease-in;
    color:white;
}
.herobtn:hover{
    background-color:#e2505c;
}
.about{
    display:flex;
    justify-content: space-around;
    margin-top:3vh;
    flex-wrap:wrap;
}
.aboutone{
    text-align:center;
    color:var(--zblue);
    padding:40px 20px;
    border-radius:15px;
    margin-bottom:20px;

}
.abouticons{
    width:6em;
    height:auto;
}
.currentstatus{
    padding:8px 15px;
    margin:7px 0px;
    border-radius:7px;
    border:none;
}

.slider{
    -webkit-appearance: none;
    margin-top:10px;
    appearance: none;
    width:100%;
    height:15px;
    background:white;
    outline:none;
    opacity:0.8;
    -webkit-transition:.2s;
    transition:opacity .2s;
    border-radius:15px;
}
.slider:hover {
    opacity: 1; 
  }

  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: var(--zorange); 
    border-radius:50px;
    cursor: pointer; 
    border:none;
  }
